<div class="container">
	 <div class="hero-unit">
        <h1>Bem vindo!</h1>
        <p>O process viewer é um portal que permite a fácil integração entre você, seus processos e seus advogados.</p>
        <p><a href="#" class="btn btn-primary btn-large">Inscreva -se &raquo;</a></p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>Clientes</h2>
          <p>Veja o andamento de seus processos. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Advogados</h2>
          <p>Deixe seus cliente atualizados, sem emails ou telefonemas. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Tour</h2>
          <p>Veja o funcionamento do Process Viewer.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Process Viewer 2013</p>
      </footer>

</div>	